*.acn
*.acr
*.alg
*.aux
*.auxlock
*.bak
*.bbl
*.bcf
*.blg
*.dvi
*.fls
*.glg
*.glo
*.gls
*.idx
*.ist
*.ilg
*.ind
*.log
*.out
*.pdf
*.ps
*.sav
*.swp
*.synctex.gz
*.toc

*.run.xml
*-blx.bib

*_latexmk

*~

*.pgf-plot.*

Figures/External/
